.workspace-leaf-content[data-type='trello-plugin'] {
  .view-content {
    padding: 0;
  }
}

.trello-pane {
  &--container {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
  }
  &--card-info {
    &--list {
      color: var(--text-faint);
      font-size: 12px;
      svg {
        vertical-align: middle;
      }
    }
    h3 {
      margin: 0;
      a {
        margin-left: 4px;
        svg {
          vertical-align: middle;
        }
      }
    }
  }
  &--comment-section {
    h4 {
      margin: 0;
    }
  }
  &--label-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-gap: 4px;
    margin-top: 6px;
    margin-bottom: 8px;

    .trello-label {
      height: 8px;
      width: 40px;
      border-radius: 4px;
    }
  }
}

.trello-card-desc {
  &--collapse {
    font-size: 12px;
    text-decoration: none;
  }
  &--collapse-icon {
    margin-left: 4px;
    svg {
      vertical-align: middle;
    }
  }
  &--desc {
    font-size: 14px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.trello-comment-input {
  &--submit {
    display: none;
  }
  &--container {
    padding: 8px;
    background-color: var(--background-primary);
    border-radius: 3px;
    box-shadow: 0 3px 5px var(--background-modifier-box-shadow);
    &:focus-within {
      .trello-comment-input--submit {
        display: unset;
      }
      .trello-comment-input--input-container {
        &::after,
        & > textarea {
          height: unset;
        }
      }
    }
  }
  &--input-container {
    display: grid;
    &::after {
      content: attr(data-replicated-value) ' ';
      white-space: pre-wrap;
      visibility: hidden;
    }
    & > textarea {
      resize: none;
      overflow: hidden;
    }
    &::after,
    & > textarea {
      /* textarea styling */
      padding: 0;
      border: 0;
      font-size: 14px;
      word-break: break-all;
      height: 20px;

      /* auto-grow hack */
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}

.trello-comment {
  &--container {
    margin: 8px 0;
  }
  &--creator {
    font-size: 14px;
    font-weight: bold;
  }
  &--date {
    margin-left: 4px;
    font-size: 14px;
    color: var(--text-muted);
  }
  &--text-container {
    padding: 8px;
    background-color: var(--background-primary);
    border-radius: 3px;
    box-shadow: 0 3px 5px var(--background-modifier-box-shadow);
  }
  &--text {
    margin: 0;
    font-size: 14px;
    word-break: break-word;
  }
}
