.trello-accordion {
  &--container {
    margin: 2px 0;
  }
  &--title {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: var(--background-primary);
    box-shadow: 0 3px 5px var(--background-modifier-box-shadow);
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: var(--background-secondary-alt);
    }
  }
  &--content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  &--title-icon {
    svg {
      transition: all 0.2s ease-out;
      vertical-align: middle;
    }
    &.trello-accordion--expanded {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
