/* Trello Colors */
:root {
  --trello-green: #61bd4f;
  --trello-yellow: #f2d600;
  --trello-orange: #ff9f1a;
  --trello-red: #eb5a46;
  --trello-purple: #c377e0;
  --trello-blue: #0079bf;
  --trello-sky: #00c2e0;
  --trello-lime: #51e898;
  --trello-pink: #ff78cb;
  --trello-black: #344563;
}

.trello-color {
  &--green {
    background-color: var(--trello-green);
  }
  &--yellow {
    background-color: var(--trello-yellow);
  }
  &--orange {
    background-color: var(--trello-orange);
  }
  &--red {
    background-color: var(--trello-red);
  }
  &--purple {
    background-color: var(--trello-purple);
  }
  &--blue {
    background-color: var(--trello-blue);
  }
  &--sky {
    background-color: var(--trello-sky);
  }
  &--lime {
    background-color: var(--trello-lime);
  }
  &--pink {
    background-color: var(--trello-pink);
  }
  &--black {
    background-color: var(--trello-black);
  }
}
