@use './variables.scss' as vars;
@use './accordion/accordion.scss';
@use './view/view.scss';
@use './modal/board-select-modal.scss';
@use './modal/card-create-modal.scss';

.trello-color {
  @each $color in vars.$trello-colors {
    &--#{$color} {
      background-color: var(--trello-#{$color});
    }
    &--#{$color}-lighter {
      background-color: var(--trello-#{$color}-lighter);
    }
    &--#{$color}-darker {
      background-color: var(--trello-#{$color}-darker);
    }
  }
}
